section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.jumbotron {
    margin: 10px;
    min-height: 500px;
    background-color: #E6E0CF;
}

.td {
    background-color: #E6E0CF;
}